
    *,
    *::after, *::before {
      margin: 0;
      padding: 0;
    }
    body {  
      font-family: Verdana, Tahoma, sans-serif; 
      color: #27190a;
      font-size: 90%;
    }
	
    /*  nav  menu  */
    nav{
        background-color: #BD966D;
        opacity: 0.7;
	}
	
	/* Footer */
	footer {
		background-color: #BD966D;
		display: flex;
	}
	footer a {      
        padding: 7px 10px;
        color: white;
        text-decoration: none;
      }
	  
	/* Menu */
    .menu li {
      padding: 7px 10px;
      list-style-type: none;
    }
       
    .menu li:hover{
      background-color: #8f6e4b;
      color: white;
      cursor: pointer;
    }

	.menu:not(.grid) {
		display: flex;
	}
	
	.menu > *:last-child
	{
		margin-left: auto;
	}

  .menu.grid{
    display:grid;
    grid-template-columns: auto auto auto 1fr;
  }
       
@media all and(max-width: 575px){
  body{
    font-size:10%
  }

  .menu.grid{
    flex-direction: column;
    text-align: center;
    grid-template-columns:1vw;
    text-align:center;
  }

}